@charset "UTF-8";
/*  ESPAÇAMENTO */
.esp5{padding-top: 5px;}
.esp15{padding-top: 15px;}
.esp25{padding-top: 25px;}
.esp50{padding-top: 50px;}
.esp100{padding-top: 100px;}
/*  NAVBAR - PERSONALIZADA  */
.barra{
    padding: 30px;
    height: 100px;
    color: white;
    background-color: rgb(187, 0, 0);
    /*background-color: rgb(84, 117, 161);*/
}
.barra div a{
    color: white;
    text-decoration: none;
}
.nav1 a:hover{
    text-decoration: none;
}
.nav2 a:hover{
    text-decoration: none;
}
/*  CODIFICAÇÃO EXTRA   */
.corpo{
    width: auto;
    min-height: 600px;
}
@media screen and (max-width: 315px){
    body{
        margin: auto;
        width: 90%;
        min-height: 600px;
    }
}
.rodape{
    text-align: center;
    padding: 30px;
    height: 350px;
    color: white;
    background-color: rgb(187, 0, 0);
    /*background-color: rgb(84, 117, 161);*/
}
/*  AJUSTE DOS INPUTS CADPRODUTO    */
@media screen and (max-width: 321px){
    #vcompprod, #vvendprod, #qtdprod{
        margin: auto;
        width: 280px;
    }
    .form-group{
        margin-left: auto;
        margin-right: auto;
    }
}
/*  RESPONSIVO  */
@media screen and (min-width: 768px){
    .nav1{
        display: block;
        text-align: center;
    }
    .nav2{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .nav1{
        display: none;
    }
    .nav2{
        display: block;
        text-align: center;
    }
    .barra{
        height: 150px;
    }
}