@charset "UTF-8";
/*  ESPAÇAMENTO */
.esp5{padding: 15px;}
.esp15{padding: 15px;}
.esp25{padding: 25px;}
.esp50{padding: 50px;}
.esp100{padding: 100px;}
/*  NAVBAR - PERSONALIZADA  */
.barra{
    padding: 30px;
    height: 100px;
    color: white;
    background-color: rgb(187, 0, 0);
    /*background-color: rgb(84, 117, 161);*/
}
.barra div a{
    color: white;
}
.nav1 a:hover{
    text-decoration: none;
}
.nav2 a:hover{
    text-decoration: none;
}
/*  CODIFICAÇÃO EXTRA   */
.corpo{
    width: auto;
    min-height: 600px;
}
.rodape{
    text-align: center;
    padding: 30px;
    height: 350px;
    color: white;
    background-color: rgb(187, 0, 0);
    /*background-color: rgb(84, 117, 161);*/
}
/*  RESPONSIVO  */
@media screen and (min-width: 768px){
    .nav1{
        display: block;
        text-align: center;
    }
    .nav2{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .nav1{
        display: none;
    }
    .nav2{
        display: block;
        text-align: center;
    }
    .barra{
        height: 150px;
    }
}